
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Forget Password</h1>
        </div>
        <div class="card-body">
            <form *ngIf="!success" [formGroup]="Form" (ngSubmit)="onForgetSubmit()" 
                class="noEdit">
                <div class="form-group">
                    <label>Enter Email</label>
                    <input
                        type="email" 
                        class="form-control mt-2" 
                        formControlName="email"
                    >
                    <small *ngIf="Form.get('email')?.invalid && Form.get('email')?.touched"  
                        class="form-text text-muted">
                        Please Enter Valid Email
                    </small>
                </div>
                <button type="submit" class="btn btn-primary mt-2">
                    Forget Password
                </button>
            </form>


            <div *ngIf="success"  class="alert alert-success mt-5" role="alert">
                <h1 class="alert-heading">Success!</h1>
                <p>Please check your email and click on verification link to reset password.</p>
            </div>

            <div *ngIf="error"  class="alert alert-danger mt-5" role="alert">
                <h1 class="alert-heading">Error!</h1>
                <p>{{error}}</p>
            </div>
        </div>
    </div>
</div>