<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Change Password</h1>
        </div>
        <div class="card-body">
            <form *ngIf="!success" [formGroup]="Form" (ngSubmit)="onSubmit()" class="noEdit">
                <div class="form-group">
                    <label>Enter New Password</label>
                    <input
                        type="password" 
                        class="form-control mt-2" 
                        formControlName="password"
                    >
                    <small *ngIf="!Form.get('password')?.valid && Form.get('password')?.touched" class="form-text text-muted">Please Enter New Password</small>
                </div>
                <button type="submit" class="btn btn-primary">Change Password</button>
            </form>


            <div *ngIf="success"  class="alert alert-success mt-5" role="alert">
                <h1 class="alert-heading">Success!</h1>
                <p>Password Changed SUccessfully.</p>
            </div>
        </div>
    </div>
</div>